@font-face {
  font-family: 'GothamPro';
  font-weight: 400;
  src: url('../fonts/gothampro_regular.ttf');
}

@font-face {
  font-family: 'GothamPro';
  font-weight: 700;
  src: url('../fonts/gothampro_bold.ttf');
}